# Virtual Environment
llm-env/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Dataset files (too large for GitHub)
*.txt
*.csv
*.json

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Torch/Model files (very large)
*.pth
*.pt
*.bin
*.ckpt
05_training/gpt2/124M/
